.DS_Store
.vscode

__pycache__/

targets/
backends/
**/build/

# Generated run outputs
asm/
log/
dse/output/
dse_out*/

.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
play/ir
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

*.log
*.yaml
*.csv
*.pdf

**/data/
**/targets/
**/backends/
**/compiled_asm/
