[submodule "taidl"]
	path = taidl
	url = https://github.com/act-compiler/taidl.git
[submodule "generators/oracle"]
	path = generators/oracle
	url = https://github.com/act-compiler/act-oracle.git
[submodule "generators/backend"]
	path = generators/backend
	url = https://github.com/act-compiler/act-backend.git
